* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.contain {
  position: fixed;
  box-sizing: border-box;
  /* border-radius: 10%; */
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.473);
}

.contain:hover {
  background: darkgrey;
  opacity: 100%;
}

.everything#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 600px;
  padding: 50px;
  background: rgba(255, 176, 29, 0.815);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

/* POP UP CONTENT */
.closebutton {
  font-family: "Poiret One", cursive;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  justify-content: center;
  height: 50px;
  width: 100px;
  border-radius: 35px;
  font-size: 30px;
  display: inline-block;
  background-color: rgba(248, 172, 58, 0.87);
  border: 2px solid white;
  top: 435px;
  left: 488px;
}

.closebutton:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgb(248, 172, 58);
  border: 2px solid rgb(248, 172, 58);
}
/* END OF POPUP CONTENT */

/* MENU ITEMS ON BANNER  */

.header-about,
.header-skills,
.header-portfolio,
.header-contact {
  font-size: 25px;
  font-family: "Poiret One", cursive;
  letter-spacing: 2px;
  display: flex;
  height: 30px;
  width: 100px;
}

.header-about {
  transform: translate(295px, 20px);
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 120px;
}

.header-skills {
  transform: translate(518px, -8px);
  display: block;
  text-align: center;
  height: 30px;
  width: 120px;
}

.header-portfolio {
  transform: translate(755px, -37px);
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 120px;
}

.header-contact {
  transform: translate(1010px, -66px);
  display: block;
  text-align: center;
  height: 30px;
  width: 120px;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

.header-about:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.header-skills:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.header-portfolio:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.header-contact:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

/* END OF MENU ITEMS ON BANNER */

.banner {
  transition: 0.5s;
  z-index: 0;
}

.banner.active {
  transform: translate(400px);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  z-index: -1;
  background: #fff;
}

/* #button {
  position: fixed;
} */

.h_name {
  font-family: "Playfair Display", serif;
  font-size: 130px;
  letter-spacing: 8px;
  text-align: center;
  color: white;
  transform: translateY(40px);
}

h2 {
  font-family: "Poiret One", cursive;
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  transform: translateY(50px);
}

/* LINKEDIN AND GITHUB ICON LINKS */

.logo-github {
  width: 120px;
  position: absolute;
  top: 450px;
  left: 530px;
  opacity: 60%;
}

.logo-github:hover {
  transform: scale(1.5);
  transition: all 0.2s;
  opacity: 100%;
}

.logo-linkedin {
  width: 120px;
  position: absolute;
  top: 450px;
  left: 740px;
  opacity: 60%;
}

.logo-linkedin:hover {
  transform: scale(1.5);
  transition: all 0.2s;
  opacity: 100%;
}

/* END */

.down {
  width: 90px;
  position: relative;
  opacity: 85%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  top: 330px;
  left: 645px;
}

.down:hover {
  opacity: 100%;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./beach-photo.jpeg");
  height: 100vh;
  background-attachment: fixed;
}

/* ABOUT PAGE */

.about {
  min-height: 100vh;
  background-image: url("./aboutbackground.jpeg");
  background-size: cover;
  /* background-color: red; */
}

.h_about {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  letter-spacing: 2px;
  padding-top: 40px;
  text-align: center;
  /* border: red 2px solid; */
}

.profileimage {
  box-sizing: border-box;
  float: left;
  display: flex;
  height: 480px;
  width: 300x;
  padding: 20px;
  background: rgba(255, 255, 255, 0.219);
  transform: translate(1070px, 46px);
}

.about_paragraph {
  margin-top: 60px;
}

.about_paragraph,
.about_paragraph_2 {
  font-size: 30px;
  font-family: "Poiret One", cursive;
  margin-left: 20%;
  margin-right: 27%;
  text-align: right;
}

.resume {
  font-family: "Poiret One", cursive;
  font-size: 50px;
  display: inline-block;
  text-align: center;
  background-color: grey;
  opacity: 80%;
  height: 70px;
  width: 260px;
  transform: translate(430px, 40px);
}

.resume:hover {
  background-color: darkgrey;
}

/* SKILLS PAGE */

.skills {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./backgroundsample.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.h_skills {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 50px;
}

.h3_skills {
  font-family: "Poiret One", cursive;
  font-size: 30px;
  text-align: center;
  letter-spacing: 1px;
  color: white;
}
.skillsbar {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  color: white;
  list-style: none;
  width: 1200px;
  margin: 10px auto;
}

.skillsbar li {
  margin: 40px 0;
}

.skillsbar li:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.bar {
  background: white;
  display: block;
  height: 2px;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 0 10px black;
}

.bar span {
  height: 2px;
  float: left;
  background: rgb(248, 172, 58);
}

.python {
  width: 30%;
  animation: python 2s;
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

.html {
  width: 40%;
  animation: html 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

.css {
  width: 50%;
  animation: css 2s;
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.javascript {
  width: 15%;
  animation: javascript 2s;
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}

.mysql {
  width: 30%;
  animation: mysql 2s;
}

@keyframes mysql {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

.java {
  width: 5%;
  animation: java 2s;
}

@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}

/* END OF SKILLS PAGE */

.portfolio {
  min-height: 100vh;
  background-image: url("./plant.jpg");
  background-size: cover;
}

.h_portfolio {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  letter-spacing: 2px;
  padding-top: 40px;
  text-align: center;
}

.h3_portfolio {
  font-family: "Poiret One", cursive;
  font-size: 35px;
  text-align: center;
  padding-top: 5px;
}

.portfolio-content {
  font-family: "Poiret One", cursive;
  font-size: 40px;
  text-align: center;
  height: 60px;
  width: 500px;
  border: black dashed 2px;
  transform: translate(470px, 180px);
}

/*  */
/* CONTACT PAGE */
/*  */
/* background */
.contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./connect.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
/* contact header */
.h_contact {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Playfair Display", serif;
  font-size: 120px;
  letter-spacing: 2px;
  text-align: center;
  transform: translateY(115px);
}
.contact h2 {
  transform: translateY(115px);
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
  letter-spacing: 3px;
}
/* content */
.contact-sendmail {
  position: relative;
  display: inline-block;
  text-align: center;
  top: 10em;
  left: 17em;
  transform: scale(0.8);
}

.contact-gmail {
  position: relative;
  display: inline-block;
  text-align: center;
  top: 7.1em;
  left: 23.3em;
  padding: 10px;
  transform: scale(0.8);
}

.contact-linkedin {
  position: relative;
  display: inline-block;
  text-align: center;
  top: 7.1em;
  left: 30em;
  transform: scale(0.8);
}

/* content text properties */
.contact span {
  color: rgb(248, 172, 58);
}

h4 {
  font-family: "Poiret One", cursive;
  font-size: 30px;
  color: white;
  padding: 10px;
  letter-spacing: 2px;
}

.contact p {
  font-family: "Poiret One", cursive;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
  line-height: 25px;
}

.contact a {
  font-family: "Poiret One", cursive;
  font-size: 17px;
  text-decoration: underline;
  color: white;
  letter-spacing: 1px;
  line-height: 25px;
}

.contact-sendmail:hover,
.contact-gmail:hover,
.contact-linkedin:hover {
  transform: scale(1.5);
  background: rgba(0, 0, 0, 0.3);
  border: solid rgba(248, 172, 58, 0.6);
  border-radius: 15px;
  transition: 0.5s;
}

.up {
  display: inline-block;
  position: relative;
  top: 280px;
  left: 655px;
  opacity: 80%;
}

.up:hover {
  opacity: 100%;
}

/*  */
/* END OF CONTACT PAGE */
/*  */

span {
  color: #fff;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fff;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6em 1.3rem;
  background: #fff;
  border: 2px solid white;
  font-size: 0.95rem;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  /* CUSTOM */
  background: transparent;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
  /* CHANGE */
  background: yellow;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background: yellow;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}
